RewriteEngine On
RewriteBase https://shahi5472.github.io/home

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ https://shahi5472.github.io/home

RewriteCond %{REQUEST_URI} ^/500/$
RewriteRule ^(.*)$ https://shahi5472.github.io/
